/.idea
/intellij/.intellij/config/options/actionSummary.xml
/intellij/.intellij/config/options/features.usage.statistics.xml
/intellij/.intellij/config/options/updates.xml
/intellij/.intellij/config/options/other.xml
/intellij/.intellij/config/options/settingsSync.xml
/intellij/.intellij/config/options/usage.statistics.xml
/intellij/.intellij/config/options/window.state.xml