$bg: rgb(0, 0, 0);
$fg: #f0f8ff;

$primary-bg: rgb(196, 154, 102);
$primary-fg: $fg;

$error-bg: rgb(107, 98, 83);  // ??
$error-fg: rgb(178, 104, 9);  // ??

$padding: 8px;
$spacing: 12px;
$radius: 8px;
$transition: 50ms;

$shadows: true;

$bar-bg: transparentize($bg, 0.6);

$widget-bg: transparentize(rgb(175, 37, 37), .9); // ??

$button-hover-bg: rgba(255, 255, 255, 0.2);
$button-hover-fg: $fg;

$border-width: 1px;
$border-color: transparentize($primary-bg, .1); // ??
$border: $border-width solid $border-color;

$active-gradient: linear-gradient(to right, $primary-bg, darken($primary-bg, 4%)); // ??
$shadow-color: rgba(0, 0, 0, 0.56);
$text-shadow: 2pt 2pt 2pt $shadow-color;  // ??
//$box-shadow: 2pt 2pt 2pt 0 $shadow-color, inset 0 0 0 $border-width $border-color;  // ??

$popover-border-color: transparentize(rgb(32, 196, 83), .95); // ??
$popover-padding: $padding;
$popover-radius: $radius + $popover-padding;

$font-size: 15px;
//$font-name: options.font.name,

// etc
//$hyprland-gaps-multiplier: options.hyprland.gaps),
//$screen-corner-multiplier: ${options.bar.corners.value * 0.01}